build/
out/
.cache/
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.exe
*.dll
*.obj
*.o
*.tmp
build_failures
build_out
compile_err
err
error
gcc_out
gcc_test.c
gcc_test.exe
test_simple.c
reports/*.pdf
